* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background: #ffffff;
}

/*header*/
.page-header {
  color: #ffffff;
}

/*Navbar country search*/

#countries {
  grid-area: countries;
  font-size: 1.5vmax;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  text-align: right;
  border-radius: 12px;
}

/*section*/

#myNav{
  width: 97%;
 border-width: 2px;
    border-style: solid;
    border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
}

.navbar-header .fas {
    color: white;
    margin: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 15px;
  }

.content{
  margin-top: 90px;
  margin-bottom: 3em;
}

.paragraph-heading{
  margin-top: 10px;
}

.paragraph {
  margin-bottom: 0;
}

.modal-body-details {
  font-size: 25px;
}

/*Interactive buttons for map*/

.show-hide-button {
  margin: 5px;
  color: #ffffff;
  font-weight: normal;
  font-size: medium;
}

/*End modal activate pointer*/
.pointer {
  cursor: pointer;
}

/*End modal details*/
.end-modal-details {
  padding: 25px;
}

/*Footer*/

.footer-details {
  background-color: #000000;
  height: 3em;
  font-size: smaller;
  text-align: center;
  color: #ffffff;
  font-weight: 100;
  padding-top: 10px;
  position: fixed;
  bottom: 0px;
  z-index: 10000;
}
.footer-details i {
  font-size: 20px;
  float: right;
  color: #ffffff;
}

/*Media query for small screen*/

@media only screen and (max-width: 767px) {
  .modal-body-details {
    font-size: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .modal-title {
    font-size: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .page-header {
    font-size: 25px;
  }
}
