* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background: #ffffff;
}

/*header*/
.page-header {
  color: #ffffff;
}

/*Navbar country search*/

#countries {
  grid-area: countries;
  font-size: 1.5vmax;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  text-align: right;
  border-radius: 12px;
}

/*section*/

#myNav{
  width: 97%;
 border-width: 2px;
    border-style: solid;
    border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
}
.content{
  margin-top: 90px;
}

.paragraph-heading{
  margin-top: 10px;
}

.paragraph {
  margin-bottom: 0;
}

.modal-body-details {
  font-size: 25px;
}

/*Interactive buttons for map*/

.show-hide-button {
  margin: 5px;
  color: #ffffff;
  font-weight: normal;
  font-size: medium;
}

/*End modal activate pointer*/
.pointer {
  cursor: pointer;
}